.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__avatar {
    margin-right: 15px;
}

.friend .friend___column {
    display: flex;
    align-items: center;
}

.friend__content {
    display: block;
}

.friend__content .friend__name {
    display: block;
    margin-bottom: 5px;
}

.friend .chat__timestamp {
    opacity: .6;
    font-size: .9rem;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text {
    opacity: .6;
}

.friend__content .friend__status {
    font-size: .75rem;
}

.friend__content .friend__bottom-text {
    font-size: .9rem;
}
