<!-- screen title / header -->
<header class="header">
    <div class="header__header-column">
        <h1 class="header__title">Chats</h1>
    </div>
    <div class="header__header-column">
        <span class="header__icon">
          <i class="fas fa-search"></i>
        </span>
        <span class="header__icon">
          <i class="fas fa-qrcode"></i>
        </span>
        <span class="header__icon">
          <a href="settings.html">
            <i class="fas fa-cog"></i>
          </a>
        </span>
    </div>
</header>